body {
    margin: 0px auto;
    width: 100%;
}
nav ul, footer ul {
  font-family:'Ubuntu Condensed', sans-serif;
	font-size: 14px;
	font-style: normal;
  font-weight: bold;
  padding: 0px;
  column-rule-color: #686960;
}
#nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
}
nav ul li, footer ul li {
  display: flex;
  margin-right: 0px
  margin-left: 0px
  margin: 0px
  padding: 0px
}
h1 {
  font-family:'Signika Negative', sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  color: white;
}
.nav {
  background-color: #ffffff;
  margin: 0px 0px 0px 0px;
  border-bottom: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
footer {
  font-size: 12px;
  padding: 10px 0;
  display: inline-block;
}

footer .col-sm-8 {
  display: inline-block
}

footer ul {
  list-style: none;
}
#about {
    background:url(2013-09-30-sunnysky.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 730px;
    margin: 0;
    padding: 160px 0 0 0;
  }
#future {
    background:url(treetop.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 730px;
    margin: 0;
    padding: 160px 0 0 0;
  }
#present{
      background:url(tree_trunk_imperfections_brown_9209_1600x1200.jpg) 50% 0 no-repeat fixed;
      color: white;
      height: 730px;
      margin: 0;
      padding: 160px 0 0 0;
  }
#past{
      background:url(tree-roots-700x354.jpg) 50% 0 no-repeat fixed;
      color: white;
      height: 730px;
      margin: 0;
      padding: 160px 0 0 0;
}
